.dropdownSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 50px;
  transition: all 0.5s;
  &.open {
    height: auto;
    grid-template-rows: 55px 1fr;
    svg{
      rotate: 180deg;
    }
  }
  svg{
    rotate: 0deg;
    transform-origin: center;
    transition: 0.5s all;
  }
  

  .dropdownSection__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: #ff6060;
    color: #f6f6f6;
    height: 55px;
    border-radius: 10px;
    font-family: "Montserrat";
    font-size: 24px;
    padding: 10px;
  }
  .dropdownSection__icon{
    padding-right: 5px;
  }
  .dropdownSection__content {
    line-height: 1.5;
    padding: 15px;
    background-color: #f6f6f6;
    color: #ff6060;
    font-family: "Montserrat";
    font-size: 18px;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s;
  }
}


ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
}

@media (max-width: 375px) {
  .dropdownSection {
    width: 100%;
    display: flex;
    flex-direction: column;

    .dropdownSection__button {
      font-size: 15px;
    }
    .dropdownSection__content {
      font-size: 18px;
    }
  }
}
