.card {
  position: relative;
  color: #fff;
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  border-radius: 10px;
}
.card__title {
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  position: absolute;
  color: white;
  width: 45%;
  bottom: 0%;
  margin-left: 25px;
}
.card__image {
  object-fit: cover;
  width: 340px;
  height: 340px;
  border-radius: 10px;
}