.header {
  display: flex;
  flex-direction: row;
  margin: 20px 100px 20px 100px;
}
.header__logo {
  margin-right: auto;
}
.header__nav {
  display: flex;
  gap: 57px;
  color: #FF6060;
  text-align: right;
  font-family: "Montserrat";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 34.224px */
  align-items: center;
}

a {
  all: unset;
  cursor: pointer;
}

.active {
  text-decoration-line: underline;
}