.fichelogement {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 20px 100px 20px 100px;
  font-family: "Montserrat";
  color: #ff6060;
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__columnRight {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;
  }
  &__titre {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
    margin-bottom: 5px;
  }
  &__location {
    margin: 0;
    margin-bottom: 25px;
  }
  &__tags {
    list-style: none;
    padding: 0;
    display: flex;
  }
  &__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 25px;
    margin-right: 8px;
    padding: 8px 12px;
    background-color: #ff6060;
    color: #fff;
    border: 1px solid #ff6060;
    border-radius: 10px;
  }
  &__image {
    border-radius: 60px;
    width: 64px;
    height: 64px;
  }
  &__hostname{
    width: 50px;

  }
  &__dropdown{
    display: flex;
    flex-direction: row;
    gap: 76px;
  }
}


@media (max-width: 375px) {
    .fichelogement{
      margin: 0px 20px;
      &__content {
        display: flex;
        flex-direction: column;
      }
      &__columnRight {
        display: flex;
        gap: 98px;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
      }
      &__image {
        width: 32px;
        height: 32px;
      }
      &__hostname{
        font-size: 12px;
    
      }
      &__dropdown{
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }
}