.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  border-radius: 25px;
  background: #F6F6F6;
  margin: 20px 100px 20px 100px;
  padding: 56px 50px;
}
@media (max-width: 375px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    border-radius: 25px;
    background: none;
    margin: 0;
    padding: 0;
  }
}
