.card {
  position: relative;
  color: #fff;
  width: 340px;
  height: 340px;
  flex-shrink: 0;
  border-radius: 10px;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    border-radius: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent 50%);
  }

  &__title {
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    position: absolute;
    color: white;
    width: 45%;
    bottom: 0%;
    margin-left: 15px;
    margin-bottom: 12px;
  }
  &__image {
    object-fit: cover;
    width: 340px;
    height: 340px;
    border-radius: 10px;
  }
}

@media (max-width: 375px) {
  .card {
    width: 335px;
    height: 255px;
    &__image {
      width: 335px;
      height: 255px;
      flex-shrink: 0;
    }
    &__title {
      width: 45%;
      bottom: 0%;
      margin-left: 19px;
      margin-bottom: 12px;
    }
  }
}
