.header {
  display: flex;
  flex-direction: row;
  margin: 20px 100px 20px 100px;

  &__logo {
    margin-right: auto;
  }

  &__nav {
    display: flex;
    gap: 57px;
    color: #ff6060;
    text-align: right;
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%; /* 34.224px */
    align-items: center;
  }
}

a {
  all: unset;
  cursor: pointer;
}

.active {
  text-decoration-line: underline;
}
@media (max-width: 375px) {
  .header {
    margin: 20px 20px;
    &__logo {
      width: 145px;
      height: 46.881px;
      margin-right: auto;
      img{
        max-width: 100%;
        height: auto;
      }
    }
    &__nav {
      gap: 15px;
      font-size: 15px;
    }
  }
}
